<div class="header">
    <div class="d-flex">
        <div class="logo"><img alt="Wolters-Kluwer" src="https://cdn.wolterskluwer.io/wk/fundamentals/1.15.2/logo/assets/large.svg"></div>
        <div class="component search-header" data-searchheader-settings-item-id="" data-database="web">
            <span class="search-header__placeholder-text">Search Wolters Kluwer</span>
            <!-- <button><span class="sr-only">Expand Search</span></button> -->
            </div>
    </div>
    <div><ul><li>Home</li><li>Dashboard</li></ul></div>
</div>
