.header {
  border: 0;
  padding: 0 5px 0 5px;

  border-bottom: 6px solid #007ac3;

  .d-flex {
    display: flex;
    justify-content: space-between;
    margin: 22px 0 22px 0;
    .log {
      width: 20px;
      height: 20px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin: 0 8px 0 8px;
      font-size: 20px;
    }
  }
}
.search-header__placeholder-text {
  font-family: "Fira Sans", sans-serif;
  color: #757575;
}
