.section-1 {
  height: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid lightgray;
  padding: 30px;
}

.section-2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  //   grid-template-columns: repeat(auto-fit, 432px);
  //   column-gap: 29px;
  div {
    // border: 1px solid lightgray;
    height: 340px;
    width: 30%;
  }
  ul {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 50px;
  }
}
