.section-1 {
  height: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid lightgray;
  padding: 30px;
  .comment {
    width: 40%;
    height: 100px;
    padding: 10px;
    // background-color: #d0e2bc;
    // font: 1.4em/1.6em cursive;
    // color: #095484;
  }
}

.section-2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  //   grid-template-columns: repeat(auto-fit, 432px);
  //   column-gap: 29px;
  div {
    // border: 1px solid lightgray;
    height: 340px;
    width: 30%;
  }
  ul {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 50px;
  }
}
