<section class="section-1">
    <span style="font-weight: 500;">Name: </span><span> {{employeeDetails.name}}</span><br>
    <span style="font-weight: 500;">Designation:</span><span> {{employeeDetails.designation}}</span><br>
    <span style="font-weight: 500;">Total Experience:</span><span> {{employeeDetails.totalExperience}}</span><br>
    <span style="font-weight: 500;">Related Domain:</span><span> {{employeeDetails.relatedDomain}}</span><br>
    <span style="font-weight: 500;">Job Title:</span><span> {{employeeDetails.jobTitle}}</span><br>
    <span style="font-weight: 500;">Reporting Manager:</span><span> {{employeeDetails.reportingManager}}</span><br>
    <section class="section-2">
     <div>
        Tech stack
        <ul >
            <li *ngFor="let stack of employeeDetails.skills">
            {{ stack}}
        </li>
    </ul>
     </div>
     <div>
        WK Domain Feature skills
        <ul>
            <li *ngFor="let stack of employeeDetails.wkDomainFeatureSkills">
             {{stack}}
        </li>
    </ul>
     </div>
     <div>
       WK Domain Experience 
        <ul>
            <li *ngFor="let stack of employeeDetails.wkExperienceDomain">
             {{stack}}
        </li>
    </ul>
    </div>
    
    </section>
    <form>
        <textarea class="comment"> Type your comment here.</textarea>
        <br>
        <input type="button" name="submit" [value]="sendButtonValue" (click)="onSubmit()">
      </form>
    <span *ngIf="isRequestSent">Request sent successful!</span>
</section>
