<div class="container mt-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-7">

            <div class="card p-3 py-4">
                <div class="text-center mt-3">
                    <h5 class="mt-2 mb-0">Shailesh Bankar</h5>
                    <span>Fullstack developer</span>

                    <div class="px-4 mt-1">
                        <p class="fonts">Experienced Software Engineer with a demonstrated history of working in the
                            information technology and services industry.
                            Skilled in programming languages - Angular, TypeScript, NodeJS, JavaScript, MongoDB &
                            GraphQL (beginner level), Microsoft technologies like - ASP.NET Core, Web API, MVC, SQL
                            Server.
                        </p>

                    </div>

                    <div class="row">
                        <div class="col-4">
                            <h6>Technology stack:</h6>
                        </div>
                        <div class="col-4">
                           Angular, NodeJS, AWS
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <h6>Total experience:</h6>
                        </div>
                        <div class="col-4">
                            8 Years
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6>Education:</h6>
                        </div>
                        <div class="col-4">
                            B. Tech
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <h6>Contact details:</h6>
                        </div>
                        <div class="col-5">
                           shailesh@wolterskluwer.com
                        </div>
                        <div class="col-3">
                            +91 9527895684
                         </div>
                    </div>

                <ul class="social-list">
                    <li>
                        <a href="https://www.linkedin.com/in/shailesh-s-bankar-b1b664a8/"> <i class="fa fa-linkedin"></i></a> 
                    </li>
                    <li><a href="https://stackoverflow.com/users/4710577/shaileshdev"> <i class="fa fa-globe"></i></a>
                    </li>
                </ul>

                <div class="form-group" style="margin-top: 20px; float: left; margin-left: 145px;">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary" (click) = "editProfile()">Edit profile</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary" (click) = "searchPeople()">Search people</button>
                        </div>
                    </div>
                </div>


            </div>




        </div>

    </div>

</div>

</div>