<div class="dashboard-container">
    <div class="card">
        <span class="card-title">IT</span>
        <span class="card-detail">12382</span>
    </div>
    <div class="card">
        <span class="card-title">Salse</span>
        <span class="card-detail">4039</span>
    </div>
    <div class="card">
        <span class="card-title">Admin</span>
        <span class="card-detail">3033</span>
    </div>
    <div class="card">
        <span class="card-title">HR</span>
        <span class="card-detail">912</span>
    </div>
</div>