<div class="dashboard-container">
    <a class="card" (click)="onRouteClick()">
        <span class="card-title">IT</span>
        <span class="card-detail">12382</span>
    </a>
    <a class="card" (click)="onRouteClick()">
        <span class="card-title">Sales</span>
        <span class="card-detail">4039</span>
    </a>
    <a class="card" (click)="onRouteClick()">
        <span class="card-title">Admin</span>
        <span class="card-detail">3033</span>
    </a>
    <a class="card" (click)="onRouteClick()">
        <span class="card-title">HR</span>
        <span class="card-detail">912</span>
    </a>
</div>