<div class="dashboard-container">
    <a class="card" (click)="onRouteClick()">
        <span class="card-title">IT</span>
        <span class="card-detail">2382</span>
    </a>
    <a class="card" (click)="onRouteClick()">
        <span class="card-title">Sales</span>
        <span class="card-detail">105</span>
    </a>
    <a class="card" (click)="onRouteClick()">
        <span class="card-title">Admin</span>
        <span class="card-detail">50</span>
    </a>
    <a class="card" (click)="onRouteClick()">
        <span class="card-title">HR</span>
        <span class="card-detail">32</span>
    </a>
</div>