<div class="container">
    <h5 style="margin-top: 10px;">Welcome to the Skill Hunter. Please login.</h5>

    <div class="form-group" style="margin-top: 20px; float: left; margin-left: 15px;">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-primary" (click)="loginDev()">Login as a Developer</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary" (click)="loginManager()">Login as a Manager</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary" (click)="register()">Sign up</button>
            </div>
        </div>
    </div>
</div>