.search-container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
  .no-result {
    margin: 130px;
    display: flex;
    justify-content: center;
  }
}

.search-hero {
  width: 100%;
  padding-bottom: 50px;
  margin: 18px 0 0;
  input {
    width: 60%;
    border-radius: 12px;
    border: 1px solid lightgrey;
    height: 25px;
    padding: 8px;
    margin: 0 20% 0 20%;
  }
}

.form-control {
  box-shadow: 0 10px 40px 0 #b0c1d9;
}
.form-control::placeholder {
  font-family: FontAwesome;
}

table {
  width: 100%;
  tbody {
    td {
      text-align: center;
      padding: 8px;
    }
  }
}
